@import "../../../../../assets/theme/_var.scss";

.play_book_content {
    .play_book_content_header {
        border-bottom: 1px dashed rgba($white, 0.4);
        padding: 10px 0 20px;
        text-align: center;
        display: flex;
        align-items: center;

        h2 {
            font-size: 2.4rem;
            color: $white;
            margin-inline: auto;
        }

        .change_title_input {
            margin-inline: auto;

            button {
                width: 2.4rem;
                height: 2.4rem;
                color: $white;
                margin-left: 1.4rem;
                background-color: transparent;
                border: none;
                outline: none;
                padding: 0;

                &:disabled {
                    opacity: 0.5;
                }
            }

            input {
                background-color: transparent;
                border: none;
                border-bottom: 2px solid $shimmer;
                outline: none;
                font-size: 1.6rem;
                color: $white;
                padding-inline: 1rem;
                transition: 300ms ease-in-out;

                &:focus {
                    border-bottom-color: $primary;
                }
            }
        }

        .edit_btn,
        .cancel_btn,
        .delete_btn {
            background-color: transparent;
            border: none;
            outline: none;
            width: 3.4rem;
            height: 3.4rem;
            background-color: $shimmer;
            padding: 0.7rem;
            border-radius: 0.6rem;
            color: $white;
            transition: 300ms ease-in-out;

            &:hover {
                background-color: $primary;
            }
        }

        .cancel_btn {
            svg {
                path {
                    fill: $white;
                }
            }
        }

        .delete_btn {
            margin-left: 0.6rem;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        color: rgba($primary, 0.8);
        margin: 20px 0;
    }

    .accordion {
        .accordion-item {
            background-color: transparent;
            border: 1px dashed rgba($white, 0.1);
            border-radius: 10px;
            position: relative;
            margin-right: 30px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            .remove_btn {
                width: 33px;
                height: 33px;
                position: absolute;
                right: -34px;
                top: 0;
                margin-top: 8px;
                color: $primary;
                background-color: transparent;
                font-size: large;
                border: none;
            }

            .accordion-header {
                background-color: transparent;

                .accordion-button {
                    background-color: transparent;
                    color: $white;
                    box-shadow: none;
                    padding: 16px 46px 16px 16px;
                    font-size: 16px;

                    &::before {
                        content: "";
                        width: 24px;
                        height: 24px;
                        background: url("../../../../assets/icons/left-arrow.svg") center/contain no-repeat;
                        position: absolute;
                        right: 16px;
                        transform: rotate(-90deg) translateX(-50%);
                        top: 0;
                    }

                    &::after {
                        content: unset;
                    }

                    &.collapsed {
                        &::before {
                            transform: rotate(90deg) translateX(-50%);
                            top: 50%;
                        }
                    }
                }

            }

            .accordion-body {
                .tab_title_input {
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid rgba($white, 0.4);
                    outline: none;
                    background-color: transparent;
                    color: rgba($white, 0.7);
                    font-size: 16px;

                    &:focus {
                        border-bottom-color: $primary;
                        color: rgba($white, 1);
                    }
                }

                .tab_content_here {
                    margin-top: 20px;
                    border-radius: 10px;
                    padding-top: 20px;
                    // background-color: rgba($white , 0.02);
                    margin-bottom: 20px;

                    h4 {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        color: $white;
                    }
                }
            }
        }
    }
}