/* ExploreInitiativesSection.module.css */

.exploreSection {
  padding: 4rem 2rem;
  text-align: center;
}

.mainHeading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  color: #ffffff;
}

.mainSubheading {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 3rem auto;
  color: #d6d6d6;
}

.tabsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow tabs to wrap */
  margin-bottom: 3rem;
  border-radius: 5px;
  padding: 1rem;
  max-width: 1200px;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 1px 5px rgba(189, 189, 189, 0.1);
}

.tabButton {
  background: transparent;
  border: none;
  padding: 0.8rem 1.2rem;
  margin: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #9b9b9b;
  border-radius: 4px;
  transition: all 0.3s ease;
  white-space: nowrap; /* Prevent text wrapping in tabs */
}

.tabButton:hover {
  background-color: #d0d0d0;
  color: #c9c9c9;
}

.tabButton.active {
  background-color: #ff0066 !important; /* Pink active tab */
  color: white;
  font-weight: bold;
  padding: 10px !important;
  box-shadow: 0 2px 5px rgba(255, 0, 102, 0.3);
}

/* Common button style for this section */
.bottomButton {
  background-color: #ff0066 !important; /* Bright pink */
  color: white;
  padding: 0.8rem 1.5rem !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin-top: 3rem; /* Space above the button */
}

.bottomButton:hover {
  background-color: #e6005c !important; /* Darker pink on hover */
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .exploreSection {
    padding: 3rem 1rem;
  }
  .mainHeading {
    font-size: 2rem;
  }
  .mainSubheading {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .tabsContainer {
    padding: 0.3rem;
  }
  .tabButton {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .tabButton {
    flex-grow: 1; /* Tabs take full width */
    margin: 0.1rem;
  }
}

@media (max-width: 480px) {
  .exploreSection {
    padding: 2rem 0.5rem;
  }
  .mainHeading {
    font-size: 1.8rem;
  }
  .mainSubheading {
    font-size: 0.9rem;
  }
  .tabsContainer {
    flex-direction: column; /* Stack tabs vertically if too many for small screens */
  }
  .tabButton {
    padding: 0.5rem 0.8rem;
  }
}
