@import "../../../assets/theme/_var.scss";

// .user_playbooks {
//     .useplaybooks_bnaner {
//         margin: 0;
//         padding: 10rem 0;
//         background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../assets/images/banner.webp");
//     }

//     .playbooks_box {
//         padding: 5rem 0;

//         .card_design {
//             padding: 2rem;
//             background-color: $shimmer;
//             border-radius: 2rem;
//             height: 100%;

//             h2 {
//                 color: $white;
//                 font-size: 1.8rem;
//                 font-weight: 600;
//             }

//             .description {
//                 font-size: 1.4rem;
//                 color: rgba($white, 0.6);
//                 display: -webkit-box;
//                 -webkit-line-clamp: 5;
//                 -webkit-box-orient: vertical;
//                 overflow: hidden;
//                 text-overflow: ellipsis;
//                 line-clamp: 5;
//                 margin: 2rem 0;
//             }

//             .date {
//                 margin-top: 2rem;
//                 font-size: 1.2rem;
//                 background-color: $primary;
//                 width: fit-content;
//                 border-radius: 0.8rem;
//                 color: $white;
//                 padding: 0.2rem 0.8rem;
//             }
//         }
//     }
// }

.playbook-container {
  padding: 30px 40px 45px 30px;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* Media Queries for Different Screen Sizes */
  @media (max-width: 1200px) {
    padding: 80px 20px; // Decrease padding for slightly smaller screens
  }

  @media (max-width: 992px) {
    padding: 60px 15px; // Further decrease padding for tablets
  }

  @media (max-width: 768px) {
    padding: 50px 10px; // Adjust padding for small tablets and larger phones
  }

  @media (max-width: 576px) {
    padding: 40px 10px; // Adjust padding for small phones
    background-size: contain; // For very small devices, switch to "contain"
  }

  @media (max-width: 400px) {
    padding: 30px 10px; // Very small padding for the smallest phones
  }

  &_banner {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .purpose-section {
    padding: 57px 45px 57px 53px;
    background-color: #f9f9f9;
    margin: 40px auto;
    border-radius: 30px;
    width: 100%;

    @media (max-width: 767px) {
      padding: 25px 20px;
    }

    .purpose-sectionInner {
      display: flex;
      gap: 50px;
      align-items: flex-start;

      @media (max-width: 1199px) {
        flex-direction: column;
        gap: 30px;
      }

      @media (max-width: 767px) {
        gap: 20px;
      }
    }

    .text-content {
      h2 {
        font-size: 3.6rem;
        margin-bottom: 20px;
        font-weight: 700;
      }

      p {
        font-size:15px;
        font-weight:400;
        margin-bottom: 3.6rem;

        @media (max-width: 767px) {
          margin-bottom: 1rem;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          padding: 15px 0;
          font-size:15px;

          @media (max-width: 767px) {
            padding: 10px 0;
          }

          img {
            width: 24px;
            /* Adjust image size */
            height: 24px;
            margin-right: 10px;
          }
        }
      }

      .launch-button {
        background-color: #ff014f;
        color: white;
        padding: 1.8rem 4rem;
        border: none;
        border-radius: 30px;
        font-size: 16px;
        max-width: 250px;
        width: 100%;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 39px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #fa1e21;

        }

      }


      @media (max-width: 1200px) {
        .launch-button{
          margin-left: auto;
          margin-right: auto;
          display: flex;
          justify-self: center !important;
        }
      }

    }

    .image-content {
      width: 100%;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    /* Responsive Design */
    @media (max-width: 992px) {
      .row {
        flex-direction: column;
      }

      .text-content,
      .image-content {
        padding: 10px;

        @media (max-width: 767px) {
          padding: 0;
        }
      }

      .text-content {
        h2 {
          font-size: 30px;
        }

        p,
        ul li {
          font-size: 16px;
        }
      }

      .full-width-paragraph p {
        font-size: 18px;
      }
    }

    @media (max-width: 768px) {
      .text-content h2 {
        font-size: 26px;
      }

      .full-width-paragraph p {
        font-size: 16px;
      }
    }

    @media (max-width: 576px) {
      .text-content h2 {
        font-size: 22px;
      }

      .text-content p,
      .text-content ul li {
        font-size: 14px;
      }

      .full-width-paragraph p {
        font-size: 14px;
      }
    }

    .adolescent {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      margin-top: 7.3rem;

      @media (max-width: 1200px) {
        margin-top: 2rem;
        text-align: center;
      }

      @media (max-width: 767px) {
        margin-top: 2rem;
      }

      p {
        font-size:15px;
        font-weight:400;
        color: #1a1a25;
      }
    }
  }

  .sitePlayBook {
    background-color: #1a1a25;
    width: 100%;
    border-radius: 30px;
    padding: 52px 56px 72px 56px;

    @media (max-width: 767px) {
      padding: 25px 20px;
    }

    &_inner {
      display: flex;
      gap: 8rem;
      align-items: center;

      @media (max-width: 1199px) {
        flex-direction: column;
        gap: 30px;
      }

      img {
        width: 50%;

        @media (max-width: 1199px) {
          width: 100%;
        }
      }

      &_right {
        p {
          max-width: 800px;

          @media (max-width: 1199px) {
            max-width: 100%;
          }
        }
      }
    }

    h3 {
      color: #ff014f;
      font-weight: bold;
      font-size: 3.4rem;
      padding-bottom: 1.2rem;
    }

    p {
      // font-size: 1.6rem;
      font-size:15px;
        font-weight:400;
      color: #fff;
      font-weight: 400;
    }

    .commonPlayHead {
      text-align: center;
    }

    &_text {
      max-width: 837px;
      width: 100%;
      margin: auto;
      padding-bottom: 40px;
      text-align: center;
      @media (max-width: 767px) {
        text-align: left !important; 
      }
    }

    @media (max-width: 1200px) {
      h3 {
        text-align: center;
        font-size: 24px;
      }

      p {
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .aboutAuthor {
    padding: 42px 53px;
    background-color: #fff;
    border-radius: 30px;
    width: 100%;
    margin-top: 72px;

    @media (max-width: 767px) {
      padding: 30px;
    }

    h3 {
      font-size: 3.4rem;
      color: #000;
      padding-bottom: 2.5rem;
      font-weight: bold;
      text-align: center;
    }

    .authors-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4rem;
    }

    .author-box {
      flex: 1;
      text-align: center;

      @media (max-width: 1199px) {
        flex: unset;
        width: 47%;
      }

      @media (max-width: 800px) {
        flex: unset;
        width: 100%;
      }

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1rem;
      }

      h4 {
        color: #000;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 26px 0 20px 0;

        @media (max-width: 767px) {
          padding: 15px 0 15px 0;
        }
      }
    }
  }
}