@import "../../../assets/theme/_var.scss";

.rsvp {
    padding: 8rem 0;
    // background-color: rgba($black, 0.4);

    .view_btn {
        margin: 3rem auto 0;
        display: flex;
        max-width: 18rem;
    }
}